#background { 
    position:fixed; 
    left: 0px; 
    top: 0px; 

    background-size:100%;  
    width:100%; 
    height:100%;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none; 

    z-index:9990; 
    }

.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Pacifico', cursive;
    color: black;
 
    text-shadow: 1px 1px 1px #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    color: white;
    transform: translateX(-50%) translateY(-50%);
    font-size: 60px;
}
.greeting {
    position: absolute;
    top: 40%;
    left: 50%;
    color: black;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
    font-family: 'Pacifico', cursive;
    
    color: white;
    transform: translateX(-50%) translateY(-50%);
    font-size: 45px;
}

.search {
    position: absolute;
    top: 60%;
    left: 50%;
    font-family: 'Robotico';
    text-align: center;
    padding: auto 10px;
    max-width: 260px;
    
    color: #fff;
    text-shadow: 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000, 1px 1px 2px #000;
    color: #000;
    transform: translateX(-50%) translateY(-50%);
    font-size: 30px;
    border-radius: 1em;
    border: 1px transparent;
   /* box-shadow: 2px 2px 2px #000;*/
    background-color: transparent;

}

.search:focus {
    outline: 0;

    max-width: 400px;
    box-shadow: none;

    color: #fff;
}


.button {
    position: absolute;
    top: 60%;
    left: 55%;
    font-family: 'Robotico', serif;
    color: black;
    transform: translateX(-50%) translateY(-50%);
    font-size: 25px;

}

.btn {
    position: absolute;
    top: 51%;
    left: 59%;
    width:1.5em;
    height: 1.5em;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
    
}

.options {
    position: absolute;
    top: 51%;
    left: 64%;
    width:10em;
    align-items: center;
    
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    transition: .2s linear;
}

.btn:hover {
    width: 1.5em;
    height: 1.5em;
    left: 59%;
    border: 1px solid #000;
    transition: .2s linear;
}

.btn:active {
    position: absolute;
    top: 51%;
    left: 59%;
    width:1.5em;
    
    transform: translateX(-50%) translateY(-50%);
    font-size: 18px;
    transition: .2s linear;
}


@media (max-width: 1500px) {
    .greeting {
        font-size: 36px;
    }

    .btn {
        left: 61%;
    }


}

@media (max-width: 1130px) {
    .greeting {
        width: 100%;
        left: 70%;
    }

    .btn {
        left: 63%;
    }

    


}

@media (max-width: 900px) {
    .greeting {
        font-size: 28px;
    }

    .btn {
        left: 67%;
    }


}